<%= form_with model: group, local: true do |f| %>
  <table class="table table-borderless">
    <tr>
      <td>グループ名</td>
      <td><%= f.text_field :name, class: 'form-control' %></td>
    </tr>
    <tr>
      <td>紹介文</td>
      <td><%= f.text_field :name, class: 'form-control' %></td>
    </tr>
    <td>グループ画像</td>
    <td><%= f.file_field :group_image, class: "form-control-file" , accept: "image/*" %></td>
    <tr>
      <td></td>
      <td><%= f.submit '　登録　',class: 'btn btn-sm btn-info' %></td>
    </tr>
  </table>
<% end %>