<table class="tbl-r01 ">
    <tr class="thead">
      <th></th>
      <th>グループ名</th>
      <th>メンバー数</th>
      <th>紹介文</th>
      <th colspan="3"></th>
    </tr>
    <% groups.each do |group| %>
    <tr>
      <td>
        <% if group.group_image.attached? %>
          <span class="profile-image-container">
            <%= image_tag group.group_image,size:"50x50" %>
          </span>
        <% else %>
          <span class="profile-image-container">
            <%= image_tag 'no_image.jpg',size:"50x50" %>
          </span>
        <% end %>
        </span>
      </td>
      <td><%= link_to group.name,group_path(group) %></td>
      <td data-label="メンバー数:"><%= group.group_users.count %></td>
      <td data-label="紹介文:"><%= group.introduction %></td>
      <td style="text-align: center;">
        <%= render "public/groups/join", group: group, current_user: current_user %>
      </td>
    </tr>
    <% end %>
</table>