<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-4'>
      <table class = 'table table-hover table-inverse'>
          <tr>
            <td colspan="2">
              <% if @group.group_image.attached? %>
                <%= image_tag @group.group_image,size:"50x50" %>
              <% else %>
                <%= image_tag 'no_image',size:"50x50" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>グループ名</th>
            <td><%= @group.name %></td>
          </tr>
          <tr>
            <th>紹介文</th>
            <td><%= @group.introduction %></td>
          </tr>
          <tr>
            <th>メンバー</th>
            <td>
              <% @group.users.each do |user| %>
              <li style="list-style: none;">
              <%= user.name %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= link_to "グループ一覧に戻る", groups_path, class: "btn btn-sm btn-secondary" %>
    </div>
    <div class = 'col-8'>
      <h4><%= @group.name %>のトークルーム</h4>
      <%= render partial: 'message', locals: { messages: @messages, my_user_id: @my_user_id, message: @message, group: @group } %>
    </div>
  </div>
</div>