<!--投稿の新規投稿(newアクション)と編集(editアクション)で使用-->
<%= form_with model: post, local: true do |f| %>
  <table class="table table-borderless">
    <tr>
      <td><%= f.label :画像 %></td>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <td>タイトル</td>
      <td><%= f.text_field :title, style: "width: 300px;"%></td>
    </tr>
    <tr>
      <td>本文</td>
      <td><%= f.text_area :body, style: "width: 300px;"%></td>
    </tr>
    <tr>
      <td>タグ<br>,で区切ると複数のタグを<br>登録できます</td>
      <td><%= f.text_field :name,value: @tag_list, style: "width: 300px;", placeholder: "ロック,東京,…" %></td>
    </tr>
    <tr>
      <td></td>
      <td>
      <!--新規か編集かによってボタンの表示を変える-->
      <% if post.new_record? %>
        <%= f.submit '　 投稿 　',class:"btn btn-sm btn-success" %>
      <% else %>
        <%= f.submit '　変更を保存　',class:"btn btn-sm btn-success" %>
      <% end %>
      </td>
    </tr>
  </table>

<% end %>