<div class="row">
  <% posts.each do |post| %>
    <div class="col-md-4 mb-3">
      <div class="card mx-auto" style="max-width: 20rem;">
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image, class: 'resize-img' %>
        <% end %>
        <table>
          <tr>
            <td><%= post.created_at.strftime("%Y/%m/%d %H:%M")%></td>
            <td><%= link_to(post.user) do %>
                  <%= post.user.name %>
                <% end %>
            </td>
          </tr>
          <tr>
            <td colspan = "2"><%= link_to post.title,post %></td>
          </tr>
          <tr>
            <td></td>
            <td class=<%= "favorite-" + post.id.to_s %> >
              <%= render 'public/favorites/favorite', post: post %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= render "public/post_comments/counter", post: post %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>