<div class="container">
  <div class="row justify-content-center mt-2 mb-2">
    <div class="col">
      <h2>新規投稿</h2>
      <%= form_with model: Post.new do |f| %>
      <h4>画像</h4>
        <%= f.file_field :image, accept: "image/*" %>
      <h4>タイトル</h4>
        <%= f.text_field :title %>
      <h4>本文</h4>
        <%= f.text_area :body %><br>
      <h4>タグ(,で区切ると複数のタグを登録できます)</h4>
      <%= f.text_field :name,value: @tag_list %>
      <%= f.submit '　投稿　',class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>