<div class="container">
  <div class="row justify-content-center my-2">
    <div class="col-md-10">
      
      <div class="slider">
        <div class="slider-item">
          <%= image_tag "top.jpg", style: "width: 700px; height: 400px;" %>
        </div>
        <div class="slider-item">
          <%= image_tag "top2.jpg", style: "width: 700px; height: 400px;" %>
        </div>
        <div class="slider-item">
          <%= image_tag "top3.jpg", style: "width: 700px; height: 400px;" %>
        </div>
        <div class="slider-item">
          <%= image_tag "top4.jpg", style: "width: 700px; height: 400px;" %>
        </div>
        <div class="slider-item">
          <%= image_tag "top.jpg", style: "width: 700px; height: 400px;" %>
        </div>
      </div>

      <p class = "text-center my-2">
      ようこそ、musicommuへ！<br>
      音楽好きのためのコミュニティサイトです。<br>
      音楽が好きで新しい出会い、演奏する仲間を見つけたい方はもちろん、<br>
      楽器未経験者やライブや音楽に興味のある方も大歓迎です!
      </p>
    </div>
  </div>
</div>