<div class="container">
  <div class="row justify-content-center my-2">
    <div class="col-md-10">

      <div class="slider">
        <div class="slider-item">
          <%= image_tag "top.jpg", class: "slider-image" %>
        </div>
        <div class="slider-item">
          <%= image_tag "top2.jpg", class: "slider-image" %>
        </div>
        <div class="slider-item">
          <%= image_tag "top3.jpg", class: "slider-image" %>
        </div>
        <div class="slider-item">
          <%= image_tag "top4.jpg", class: "slider-image" %>
        </div>
        <div class="slider-item">
          <%= image_tag "top.jpg", class: "slider-image" %>
        </div>
      </div>

      <p class="text-center my-2" style="width: 90%; margin: 0 auto;">
      ようこそ、Musicommuへ！<br>
      音楽好きのためのコミュニティサイトです。<br>
      音楽が好きで新しい出会いや演奏する仲間を見つけたい方はもちろん、<br>
      楽器未経験者やライブ、音楽に興味のある方も大歓迎です!
      </p>
    </div>
  </div>
</div>