<div class="container">
  <div class="row justify-content-center my-2 ">
    <div class='col-md-6'>
      <div class="text-center my-2">
        <h3>募集詳細</h3>
      </div>
        <div class="text-right mb-2">
          <% if @band_post.user == current_user %>
            <%= link_to '　編集　', edit_band_post_path(@band_post), class: "btn btn-sm btn-success" %>
            <%= link_to "　削除　", band_post_path(@band_post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
        <table class='table table-hover table-inverse'>
          <thead>
            <td><%= @band_post.created_at.strftime("%Y/%m/%d %H:%M")%></td>
            <td><%= link_to(@band_post.user) do %>
                <%= @band_post.user.name %>
                <% end %>
            </td>
          </thead>
          <tbody>
          <tr>
            <td colspan ="2">タイトル: <%= @band_post.title %></td>
          </tr>
          <tr>
            <td colspan ="2">ジャンル: <%= @band_post.genre %></td>
          </tr>
          <tr>
            <td colspan ="2">募集パート: <%= @band_post.instrument %></td>
          </tr>
          <tr>
            <td colspan ="2">活動地域: <%= @band_post.area %></td>
          </tr>
           <tr>
            <td colspan ="2">活動日: <%= @band_post.activity_i18n %></td>
          </tr>
          <tr>
            <td colspan ="2">バンドの方向性: <%= @band_post.direction_i18n %></td>
          </tr>
           <tr>
            <td colspan ="2">楽曲の種類: <%= @band_post.band_type_i18n %></td>
          </tr>
          <tr>
            <td colspan ="2"><%= @band_post.body %></td>
          </tr>
          </tbody>
        </table>

      <div class = "band-post-comments-index">
        <%= render partial: 'public/comments/index', locals: { comments: @band_post.band_comments, band_post: @band_post } %>
      </div>
        <%= render partial: 'public/comments/form', locals: { object: @band_post, comment: @band_comment } %>
  </div>
</div>