<div class="container">
  <div class="row">
    <div class="col">
      
      <h4>投稿へのコメント一覧</h4>
      
      <table class='table table-hover table-inverse'>
        <tr>
          <th></th>
          <th>コメント</th>
          <th></th>
          <th>ユーザー</th>
          <th>コメントした投稿</th>
        </tr>
        <% @post_comments.each do |post_comment| %>
        <tr>
          <td><%= post_comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          <td><%= post_comment.comment %></td>
          <td>
            <%= link_to '削除', admin_post_comment_path(post_comment), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>
          </td>
          <td>
            <%= image_tag @users.find(post_comment.user_id).get_profile_image, size: '50x50' %>
            <%= link_to admin_user_path(@users.find(post_comment.user_id)) do %>
            <%= @users.find(post_comment.user_id).name %>
            <% end %>
          </td>
          <td><%= post_comment.post.title %></td>
        </tr>
        <% end %>
      </table>

      
    </div>
  </div>
</div>