<div class="container">
  <div class="row justify-content-center my-2 ">
    <div class ="col-md-6">
      <div class="text-center my-2">
        <h3><%= @user.name %>さんの会員情報編集</h3>
      </div>
      <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
        <%= render "public/shared/error_messages", resource: @user %>
        <table class="table table-borderless">
          <tr>
            <td>プロフィール画像</td>
            <td><%= f.file_field :profile_image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>名前(ニックネーム)</td>
            <td><%= f.text_field :name, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= f.text_field :introduction, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>年齢</td>
            <td><%= f.text_field :age, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>都道府県</td>
            <td><%= f.text_field :prefecture, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>好きなジャンル</td>
            <td><%= f.text_field :genre, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>好きなアーティスト</td>
            <td><%= f.text_field :artist, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <%= f.radio_button :is_active, :true %>
              <%= f.label :is_active, '有効', value: true %>
              <%= f.radio_button :is_active, :false %>
              <%= f.label :is_active, '退会', value: false %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
          </tr>
        </table>
      <% end %>

    </div>
  </div>
</div>