<div class="container">
  <div class="row my-2 offset-1">
      <h2>ログイン</h2>
  </div>
  <div class="row justify-content-center my-2 ">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "　ログイン　", class:"btn btn-sm btn-primary" %></td>
        </tr>
      </table>
    <% end %>
  </div>
      
  <div class="row my-2 offset-1">
    <div class="col">
      <h3>会員登録がお済みでない方</h3>
        <%= link_to 'こちら', new_user_registration_path,class: "ml-5" %>から新規登録を行なってください。
    </div>
  </div>
</div>