<table class="table-index ">
  <tr class="thead">
    <th></th>
    <th>名前</th>
    <th>自己紹介</th>
    <th>好きなジャンル</th>
    <th>フォロー</th>
    <th>フォロワー</th>
    <th></th>
  </tr>
  </thead>
  <% users.each do |user| %>
  <tr>
    <td>
      <span class="profile-image-container"><%= image_tag user.get_profile_image, size: '50x50' %></span>
    </td>
    <td>
      <%= link_to user do %>
      <%= user.name %>
      <% end %>
    </td>
    <td data-label="自己紹介:"><%= user.introduction %></td>
    <td data-label="好きなジャンル:"><%= user.genre %></td>
    <td data-label="フォロー:" class = "followers_<%= user.id %>"><%= render "public/relationships/followers", user: user %></td>
    <td data-label="フォロワー:" class = "followeds_<%= user.id %>"><%= render "public/relationships/followeds", user: user %></td>
    <td class ="relationship_<%= user.id %>"><%= render "public/relationships/btn", user: user %></td>
  </tr>
  <% end %>
</table>

<div class ="d-flex justify-content-center">
  <%= paginate users %>
</div>