<div class="container">
  <div class="row justify-content-center my-2 ">
    <div class ="col-md-8">
      <div class="text-center my-2">
        <h3>プロフィール編集</h3>
      </div>
      <%= form_with model:@user do |f| %>
        <%= render "public/shared/error_messages", resource: @user %>
      <div class="text-right mb-3">
        <%= link_to "　退会する　", check_user_path(current_user.id), class:"btn btn-sm btn-danger" %>
      </div>
        <table class="table table-borderless">
          <tr>
            <td>プロフィール画像</td>
            <td><%= f.file_field :profile_image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>名前(ニックネーム)</td>
            <td><%= f.text_field :name, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= f.text_field :introduction, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>年齢</td>
            <td><%= f.text_field :age, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>都道府県</td>
            <td><%= f.text_field :prefecture, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>好きなジャンル</td>
            <td><%= f.text_field :genre, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td>好きなアーティスト</td>
            <td><%= f.text_field :artist, style: "width: 300px;" %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit class: 'btn btn-sm btn-secondary' %></td>
          </tr>
        </table>
      <% end %>

    </div>
  </div>
</div>