<nav class="navbar navbar-expand-lg navbar-dark">
  <div class = "container" >

    <%= link_to root_path do %>
      <%= image_tag "icon.jpg", size: '210x70' %>
    <% end %>

    <% if user_signed_in? %>
      <div class="col-3 text-center" style="color: white;">
        ようこそ、<%= current_user.name %>さん
      </div>
    <% end %>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to posts_path, class: 'nav-link text-white' do %>
            投稿一覧<i class="fas fa-music"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to band_posts_path, class: 'nav-link text-white' do%>
          募集一覧<i class="fas fa-guitar"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path, class: 'nav-link text-white' do %>
            ユーザー <i class="fas fa-users"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to user_path(current_user.id), class: 'nav-link text-white' do %>
            マイページ<i class="fas fa-user"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white' do %>
            ログアウト<i class="fas fa-sign-out-alt"></i>
          <% end %>
        </li>
        <% elsif admin_signed_in? %>
        <li class="nav-item">
          <%= link_to "募集コメント", admin_band_comments_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to "投稿コメント", admin_post_comments_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー", admin_users_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-white' %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: 'nav-link text-white' do %>
            新規登録<i class="fas fa-user-plus"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: 'nav-link text-white' do %>
            ログイン<i class="fas fa-sign-in-alt"></i>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>